/.bundle/
/.yardoc
/_yardoc/
/_site/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
*.dSYM
/ext/rubydex/Makefile
mkmf.log
target/
rust/rubydex-sys/rustbindings.h
ext/rubydex/rustbindings.h
ext/rubydex/compile_commands.json
ext/rubydex/.cache
THIRD_PARTY_LICENSES.html
rust/THIRD_PARTY_LICENSES.html
lib/rubydex/*.dylib
lib/rubydex/*.so
lib/rubydex/bin/
